.single-movie-page {
}

.hero {
  position: relative;

  height: 70vh;
  background-position: center center;
  background-size: cover;
}

.hero::before {
  position: absolute;
  inset: 0;

  background-color: var(--main-bg-color);
  opacity: 0.5;

  content: '';
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  max-width: 100%;
  opacity: 0.2;
  /* overflow: hidden;
  object-fit: cover; */
}

.movie-title {
  display: inline-block;

  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
  top: 40%;
  left: 8rem;

  margin: 0;
  padding-bottom: 2rem;
  max-width: 50%;

  font-size: 3.6em;
  text-align: start;
  word-wrap: break-word;
  line-height: 6rem;
  color: var(--primary-txt-color);
}

.movie-title p {
  margin: 0;
}

.poster-box {
  height: 1rem;
  margin: 0;
  padding: 0;

  text-align: end;
}

.poster-img {
  position: relative;
  bottom: 36rem;
  right: 6rem;
  /* when width is auto and height has a certain value the proportions  of the image won't break */
  height: 70vh;
  width: auto;
  max-width: 100%;

  object-fit: contain;
}

.movie-info {
  position: relative;
  bottom: 100%;

  display: flex;

  flex-direction: column;
  margin: 4rem 0;
  padding: 0 8rem;
}

.info-title {
  color: var(--secondary-txt-color);

  font-size: 2rem;
}

.summary {
  position: relative;
  bottom: 90%;
  /* margin-top: 6rem; */
  /* padding: 10em; */

  font-weight: 700;
  line-height: 2.4;
  text-align: justify;
  color: var(--primary-txt-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toggle-btn {
  /* margin: 0 1em; */
  align-self: flex-end;
  padding: 0.5em 1.4em;

  border: none;
  border-radius: 3em;
  background: var(--secondary-color);

  font-family: Aboreto;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;

  color: var(--primary-txt-color);
}

.toggle-btn:hover {
  background: var(--primary-color);
}

.player-container {
  text-align: center;
}

.trailer {
  border: 0;
  padding: 1rem;
}

@media (max-width: ) {
}
