.featured-content {
  position: relative;

  margin-bottom: 4rem;
  padding: 4rem;
  height: 50rem;
}

.featured-content-img {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  max-width: 70%;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
}
.featured-content-txt-box {
  display: flex;
  position: relative;
  z-index: 10;
  top: 30%;

  /* margin: auto 0; */
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 50%;

  color: var(--primary-txt-color);
  font-size: 1.2rem;
}

.featured-content-btn {
  padding: 0 1.3em;

  border-radius: 3rem;
  background-color: var(--primary-color);

  color: var(--primary-txt-color);
  font-family: Aboreto;
  font-weight: 700;
  font-size: 1.2rem;
  vertical-align: middle;
  line-height: 2.8;
}

.featured-content-btn:hover {
  background-color: var(--secondary-color);
}

.featured-content:nth-child(odd) .featured-content-txt-box {
  align-items: flex-end;
  margin-left: auto;

  text-align: right;
}

.featured-content:nth-child(even) .featured-content-img {
  left: auto;
  right: 0;
}

/* Tablet */
@media (min-width: 600px) and (max-width: 820px) {
  .featured-content {
    margin-bottom: 0;
    height: 87vh;
  }

  .featured-content-txt-box {
    position: absolute;
    top: auto;
    bottom: 8rem;
    left: 4rem;

    max-width: 80%;
    gap: 0.5rem;

    font-size: 1rem;
  }

  .featured-content:nth-child(odd) .featured-content-txt-box {
    right: 4rem;
    left: auto;
  }

  .featured-content-btn {
    font-size: 1rem;
  }

  .featured-content-img {
    max-width: 100%;
  }
}

@media (max-width: 599px) {
  .featured-content {
    margin-bottom: 0;
    height: 83vh;
    padding: 2rem;
  }
  .featured-content-txt-box {
    top: 45%;

    max-width: 90%;
    font-size: 0.8rem;
  }

  .featured-content-btn {
    font-size: 0.8rem;
  }

  .featured-content-img {
    max-width: 100%;
  }
}
