.movies-page {
  /* margin: auto 0; */
  height: 84vh;
  /* cannot center it vertically */
}

.marquee {
  display: flex;

  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100%;
  gap: 2rem;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.marquee-group {
  display: flex;

  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
  /* min-width: 100%; */

  animation: scroll-left 60s linear infinite;
}

.poster {
  height: 80vh;
}

@keyframes scroll-left {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@media (max-width: 500px) {
  .marquee {
    flex-direction: column;
  }

  .marquee-group {
    flex-direction: column;
    animation: scroll-up 60s linear infinite;
  }

  .poster {
    height: 50vh;
  }

  @keyframes scroll-up {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
}
