.spell-page {
  padding: 0;
  margin: 0;

  color: rgb(189, 185, 165);
}

.spell-page-hero {
  position: relative;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  gap: 2rem;

  color: rgb(234, 233, 231);
  font-size: 3rem;
  font-weight: 700;
  overflow: auto;
}

.spell-page-hero::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-image: url('./../../images/wand-casting-spell.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;

  content: '';
}

.spell-page-description {
  position: relative;

  padding: 2rem 0;
  margin: 0;

  text-align: center;
}

.card-list {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem;
}

@media (max-width: 760px) {
  .spell-page-hero {
    height: 85vh;
    padding: 2rem;

    font-size: 2rem;
    font-weight: 500;
    overflow: auto;
  }
}
