.books {
  position: relative;

  margin: auto;
  width: 20rem;
  height: 30rem;

  border: 1px solid red;

  perspective: 4000px;
  transition: 1s;
  transform-style: preserve-3d;
}

/* .books div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.books:hover {
  transform: rotateY(90deg);
}

/* .front-cover {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('./../../images/book-cover.png');
  background-size: 100% 100%;
}

.side-cover {
  content: '';

  position: absolute;

  top: 0;
  left: 0;

  width: 10%;
  height: 100%;

  background-color: aqua;
  background-size: 100% 100%;

  border: 5px solid green;

  transform-origin: left;
  transform: rotateY(90deg);
} */
