// Tablet
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: grid;

  grid-template-rows: 3fr 0.5fr;
  grid-template-areas:
    'header'
    'content';
  gap: 0.8rem;
  padding: 2rem 5rem 1.2rem 5rem;

  font-family: Aboreto;

  background-color: var(--nav-bg-color);
}

.navbar-shrink {
  display: flex;

  gap: 2rem;
  padding: 0 2rem;
  align-items: center;

  .navbar-header {
    padding: 1rem 0 0.2rem 0;
  }

  .navbar-logo-img {
    width: 8rem;
  }

  .navbar-link-wrapper {
    width: 100vw;
    margin: auto auto;
  }

  .navbar-link {
    font-size: 0.8rem;
  }
}

.navbar-header {
  grid-area: header;
  margin: auto;
}

.navbar-toggle {
  display: none;

  background-color: transparent;
  border: none;
}

.navbar-link {
  width: fit-content;
  padding: 0.5rem;

  font-size: 1rem;
  font-weight: 700;
  text-align: center;

  color: var(--primary-color);
}

// .navbar-logo {
//   grid-area: header;
// }

.navbar-link-wrapper {
  display: flex;

  grid-area: content;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-img {
  width: 16rem;
}

.active {
  border-bottom: 1px solid var(--secondary-color);
  // border-radius: 0.2rem;
}

// Mobile

@media (max-width: 760px) {
  // .navbar-shrink {
  //   display: unset;

  //   gap: unset;
  //   padding: unset;
  //   align-items: unset;

  //   .navbar-header {
  //     padding: unset;
  //   }

  //   .navbar-logo-img {
  //     width: unset;
  //   }

  //   .navbar-link-wrapper {
  //     width: unset;
  //     margin: unset;
  //   }

  //   .navbar-link {
  //     font-size: unset;
  //   }
  // }
  .navbar-mobile {
    display: block;

    margin: 0;
    padding: 0;
  }

  .navbar-mobile--open {
    position: sticky;
    top: unset;
    z-index: unset;
    display: grid;

    grid-template-areas:
      'header'
      'footer';
    grid-template-rows: 1fr 5fr;
    grid-template-columns: none;
    gap: 1rem;
    height: 100vh;
    width: 40%;
    margin: 0;
    padding: 0rem 0 8rem 0;

    font-family: Aboreto;

    background-color: var(--nav-bg-color);
  }

  .navbar-link-wrapper-mobile {
    display: none;

    grid-area: unset;
  }

  .navbar-link-wrapper-mobile--open {
    display: flex;

    grid-area: footer;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  .active {
    color: rgb(247, 232, 145);

    border: none;
  }

  .navbar-header {
    position: relative;
    display: flex;

    align-items: center;
    margin: 0;
    height: 7rem;
    width: 100vw;
    padding: 1rem 0;

    background-color: var(--nav-bg-color);
  }

  .navbar-toggle {
    display: inline-block;
    position: absolute;
    // top: 1rem;
    left: 1rem;

    margin: 0;
  }

  .navbar-logo {
    grid-area: header;

    margin: auto;
  }

  .navbar-logo-img {
    width: 10rem;
  }
}

// Desktop

@media (min-width: 1000px) {
  .navbar-desktop {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;

    padding: 1rem 20rem 0.2rem 5rem;
    gap: 5rem;
    align-items: flex-start;
  }

  .navbar-header {
    margin: 0;
    padding: 1rem 0 0.2rem 0;
  }

  .navbar-logo-img {
    width: 10rem;
  }

  .navbar-link-wrapper {
    width: 100vw;
    justify-content: space-between;
    margin: auto;
    gap: 3rem;
  }
}

// for tablet only use both max and min with
