.single-spell-page {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-areas:
    'header'
    'content';

  flex-direction: column;
  margin: 5rem;

  background-color: var(--main-bg-color);
  color: var(--primary-txt-color);
}

.single-spell-wrapper {
  display: flex;

  grid-area: content;
  width: 90vw;
  margin: auto;
  justify-content: center;
}

.single-spell {
  display: flex;

  flex-direction: column;
  gap: 6rem;
  padding: 2rem;

  font-weight: 700;
}

.single-spell-title {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: var(--primary-txt-color);
}

.single-spell-content {
  display: flex;

  /* flex-direction: column; */
  align-items: center;
  gap: 4rem;
}

.single-spell-attribute {
  display: flex;

  gap: 0.5rem;
  padding: 1rem 0;

  word-break: normal;
  font-size: 1rem;
  color: var(--primary-txt-color);
}

.single-spell-attribute dt {
  font-weight: 900;
  /* border-bottom: 1px solid var(--secondary-txt-color); */
  color: var(--subtitle-color);
}

.link dd a {
  color: var(--link-color);
  font-family: Bona Nova;
}

.single-spell-img {
  height: 12rem;
}

@media (max-width: 900px) {
  .single-spell-title {
    font-size: 2rem;
  }

  .single-spell-attribute {
    font-size: 0.8rem;
  }

  .single-spell-img {
    height: 7rem;
  }
}

@media (max-width: 750px) {
  .single-spell-page {
    margin: 1rem;
  }
  .single-spell-content {
    flex-direction: column;
  }

  .single-spell-img {
    height: 10rem;
  }
}
