.card {
  display: grid;
  grid-template-rows: 4fr 1fr;

  padding: 1rem;
  gap: 1.5rem;
  /* flex-direction: column;
  justify-content: space-between; */
  padding: 1rem;
  width: 16rem;
  height: 24rem;

  color: white;

  border: 1px solid black;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(72, 47, 139, 1) 90%
  );
}

.card:hover {
  transition: transform ease-in-out;
  transform: scale(1.06);
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.clicked {
  background: linear-gradient(0deg, rgb(27, 28, 27) 0%, rgb(120, 107, 19) 90%);
  transition: transform;
  transform: rotateY('180deg');
}

.spell-title {
  text-align: center;
  /* word-break: break-all; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.spell-img {
  max-width: 9rem;
  max-height: 9rem;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spell-info {
  margin: 0;
}
