.card {
  position: relative;

  width: 16rem;
  height: 24rem;

  color: rgb(189, 185, 165);

  font-weight: 700;
}

/* .card[data-spell='finestra-spell'] {
  background-color: aqua;
  transform: scale(2);
} */

.card-content {
  position: absolute;
  inset: 0;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-content {
  transform: rotateY(180deg);
}

.card-top {
  text-align: center;
}

.card--clicked {
  /* background: linear-gradient(0deg, rgb(27, 28, 27) 0%, rgb(120, 107, 19) 90%); */
  transition: transform 0.5s;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;

  padding: 1rem;
  backface-visibility: hidden;
}

.card-front {
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(72, 47, 139, 1) 90%
  );
}

.card-back {
  background: linear-gradient(0deg, rgb(27, 28, 27) 0%, rgb(120, 107, 19) 90%);
  transform: rotateY(180deg);
  display: flex;
}

.spell-title {
  text-align: center;
  /* word-break: break-all; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.spell-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
}

.spell-info {
  margin: 0;
  padding: 1rem;
}

.spell-info-dt {
  padding-bottom: 1rem;
}
