*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --nav-bg-color: rgb(31, 31, 29);
  --main-bg-color: rgb(24, 24, 22);
  --primary-txt-color: rgb(233, 225, 207);
  --secondary-txt-color: rgb(247, 232, 145);
  --subtitle-color: rgb(134, 133, 133);
  --link-color: rgb(185, 185, 185);
  --primary-color: rgba(72, 47, 139, 1);
  --secondary-color: rgb(65, 33, 152);
  --gap: 2rem;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  color: var(--link-color);
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
  font-family: Aboreto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dd,
dt {
  padding: 0;
  margin: 0;
}
